<% if @menu.errors.any? %>   
    <div id="error_explanation">
            <h2>
              <%= pluralize(@menu.errors.count, "error") %> prohibited
              this menu from being saved:
            </h2>
      <ul>        
        <% @menu.errors.full_messages.each do |msg| %>          
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>
<%= form_for :menu, html: {class: 'form'}, url: manager_menu_path(@menu), method: :patch do |f| %>  

    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <div class="form-group">
          <%= f.label :name %><br>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :date %><br>
          <%= f.text_field :date, 'data-provide' => 'datepicker', 'data-date-format' => "yyyy-mm-dd", class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.submit class: "btn form-control btn-primary" %>
        </div>
      </div>
    </div>
    <br/> 
<% end %>
<% if @menu.items.present? %>
    <div class="row bg-table-header">
      <div class="col-sm-3">
        <b><i>Name</i></b>
      </div>
      <div class="col-sm-5">
        <b><i>Description</i></b>
      </div>
      <div class="col-sm-3 col-sm-offset-1">
        <b><i>Price</i></b>
      </div>
      <br/><br/>
    </div>
    <div class="row bg-table">
      <div class="col-sm-12">
        <% @menu.items.each do |item| %>
            <div class="row hover-div"><br/>

              <div class="col-sm-3">
                <%= item.name %>
              </div>
              <div class="col-sm-5">
                <%= item.description %>
              </div>
              <div class="col-sm-1 col-sm-offset-1">
                <%= item.price %>
              </div>
              <div class="col-sm-1 col-sm-offset-1">
                <% if is_manager? %>
                    <%= link_to edit_manager_menu_item_path(menu_id: @menu, id: item.id) do %>
                        <span class="glyphicon glyphicon-pencil"></span>
                    <% end %>&nbsp;&nbsp;
                    <%= link_to manager_menu_item_path(menu_id: @menu, id: item.id), method: :delete do %>
                        <span class="glyphicon glyphicon-trash"></span>
                    <% end %>
                <% end %>
              </div>
            </div>
        <% end %>
      </div>
    </div>
<% end %>

<br/><br/>
<%= link_to '<- Back to menu', menu_path(id: @menu) %>
 