<% if flash[:error] -%>
    <p class='error'><%= h flash[:error] %></p>
<% end -%>
<% if is_manager? %>
    <table class="table table-hover">
      <tbody>
      <tr>
        <td>
          <table class="table table-hover">
            <thead>
            <tr>
              <td><i><b>Menu list:</b></i></td>
              <td><i><b><%= link_to 'New', new_manager_menu_path %></b></i></td>
            </tr>
            </thead>
            <% if @menus %>
                <tbody>
                <% @menus.each do |u| %>
                    <tr>
                      <td><%= u.name if u.name.present? %>* <%= u.date %>&nbsp;&nbsp;
                        <%= link_to 'Show', menu_path(id: u.id) %></td>
                      <td>
                        <%= link_to 'Add item', new_manager_menu_item_path(menu_id: u.id) %>
                      </td>
                    </tr>
                <% end %>
                </tbody>
            <% end %>
          </table>
        </td>
        <td>
          <table class="table table-hover">
            <thead>
            <tr>
              <td><i><b>Categories:</b></i></td>
              <td><i><b><%= link_to 'New', new_manager_category_path %></b></i></td>
            </tr>
            </thead>
            <% if @categories %>
                <tbody>
                <% @categories.each do |u| %>
                    <tr>
                      <td>*<%= u.name %> &nbsp;&nbsp; <%= link_to 'Show', manager_category_path(id: u.id) %></td>
                      <td>
                        <%= link_to 'Add subcategory', new_manager_category_subcategory_path(category_id: u.id) %>
                        &nbsp;&nbsp;
                        <%= link_to 'Delete', manager_category_path(id: u.id), method: :delete %>
                      </td>
                    </tr>
                <% end %>
                </tbody>
            <% end %>
          </table>
        </td>
      </tr>
      </tbody>
    </table>


<% else %>
    <% if @categories %>
        <table width="100%" class="table table-hover">
          <thead>
          <tr>
            <% @categories.each do |o| %>
                <th><%= o.name %></th>
            <% end %>
          </tr>
          </thead>
          <tbody>
          <tr>
            <% @categories.each do |o| %>
                <td>
                  <% o.subcategories.each do |s| %>
                      <% if s.items.count>0 %>
                          <table class="table table-hover">
                            <thead>
                            <tr>
                              <th><i><%= s.name if s.items.count>0 %></i></th>
                            </tr>
                            </thead>
                            <tbody>
                            <% s.items.each do |i| %>
                                <tr>
                                  <td>
                                    <%= i.name %>
                                  </td>
                                </tr>
                            <% end %>
                            </tbody>
                          </table>
                      <% end %>
                  <% end %>
                </td>
            <% end %>
          </tr>
          </tbody>
        </table>
    <% end %>
<% end %>

