<% if flash[:error] -%>
    <p class='error'><%= h flash[:error] %></p>
<% end -%>
<% if is_manager? %>
    <div class="row">
      <div class="col-sm-5 table-bordered background-white ">
          <div class="row">
            <br/>
            <div class="col-sm-9 "><i><b>Menu list:</b></i></div>
              <div class="col-sm-3 "><i><b><%= link_to 'New', new_manager_menu_path, class: 'btn btn-primary' %></b></i></div>
            <br/><br/><br/>
          </div>
          <% if @menus %>
              <% @menus.each do |u| %>
                  <div class="row">
                    <div class="col-sm-9 "><%= u.name if u.name.present? %>* <%= u.date %>&nbsp;&nbsp;
                      <%= link_to 'Show', menu_path(id: u.id) %></div>
                    <div class="col-sm-3 ">
                      <%= link_to 'Add item', new_manager_menu_item_path(menu_id: u.id) %>
                    </div>
                    <br/><br/>
                  </div>
              <% end %>
          <% end %>
      </div>
      <div class="col-sm-6 col-sm-offset-1 table-bordered background-white">
          <div class="row">
            <br/>
            <div class="col-sm-5 "><i><b>Categories:</b></i></div>
            <div class="col-sm-6 col-sm-offset-1"><i><b><%= link_to 'New', new_manager_category_path , class: 'btn btn-primary'%></b></i></div>
            <br/><br/><br/>
         </div>
          <% if @categories %>
              <% @categories.each do |u| %>
                  <div class="row">
                    <div class="col-sm-5 ">*<%= u.name %> &nbsp;&nbsp; <%= link_to 'Show', manager_category_path(id: u.id) %></div>
                    <div class="col-sm-6 col-sm-offset-1 ">
                      <%= link_to 'Add subcategory', new_manager_category_subcategory_path(category_id: u.id) %>
                      &nbsp;&nbsp;
                      <%= link_to 'Delete', manager_category_path(id: u.id), method: :delete %>
                    </div>
                    <br/><br/>
                  </div>
              <% end %>
          <% end %>
      </div>
    </div>
    <div class="row">
      <br/><br/>
      <div class="col-sm-5 col-sm-offset-3 table-bordered background-white">
        <div class="row">
          <br/>
          <div class="col-sm-3 "><i><b>Items:</b></i></div>
          <br/><br/>
        </div>
        <% if @items %>
            <% @items.each do |u| %>
                <div class="row">
                  <div class="col-sm-9 ">*<%= u.name %> &nbsp;&nbsp; <%= link_to 'Edit', edit_manager_menu_item_path(menu_id: u.menu_id, id: u)%></div>
                  <div class="col-sm-3 ">
                    <%= link_to 'Delete', manager_menu_item_path(menu_id: u.menu_id, id: u), method: :delete %>
                  </div>
                  <br/><br/>
                </div>
            <% end %>
        <% end %>
      </div>
    </div>


<% else %>
    <% if @categories %>
        <table width="100%" class="table table-hover">
          <thead>
          <tr>
            <% @categories.each do |o| %>
                <th><%= o.name %></th>
            <% end %>
          </tr>
          </thead>
          <tbody>
          <tr>
            <% @categories.each do |o| %>
                <td>
                  <% o.subcategories.each do |s| %>
                      <% if s.items.count>0 %>
                          <table class="table table-hover">
                            <thead>
                            <tr>
                              <th><i><%= s.name if s.items.count>0 %></i></th>
                            </tr>
                            </thead>
                            <tbody>
                            <% s.items.each do |i| %>
                                <tr>
                                  <td>
                                    <%= i.name %>
                                  </td>
                                </tr>
                            <% end %>
                            </tbody>
                          </table>
                      <% end %>
                  <% end %>
                </td>
            <% end %>
          </tr>
          </tbody>
        </table>
    <% end %>
<% end %>

