<table class="table ">
  <% if flash[:error] -%>
      <p class='error'><%= h flash[:error] %></p>
  <% end -%>
  <% if @menu %>
      <thead>
      <tr>
        <th>
          <% if @menu.name.present? %>Name: &nbsp;<%= @menu.name %>;&nbsp;
          <% end %>
          Date: &nbsp;<%= @menu.date %>
        </th>
        <% if is_manager? %>
            <th>
              <b><i><%= link_to 'Edit menu', edit_manager_menu_path(id: @menu.id), class: "btn btn-primary" %></i></b>
            </th>
            <th>
              <i><%= link_to 'Add item', new_manager_menu_item_path(menu_id: @menu), class: "btn btn-primary" %></i>
            </th>
            <th>
              <i><%= link_to 'Add category', new_manager_category_path, class: "btn btn-primary" %></i>
            </th>
            <th>
              <i><%= link_to 'Add subcategory', new_manager_category_subcategory_path(category_id: 0), class: "btn btn-primary" %></i>
            </th>
            <th>
              <i><%= link_to 'Delete menu', manager_menu_path(id: @menu.id), method: :delete, class: "btn btn-primary" %></i>
            </th>
        <% end %>
      </tr>
      </thead>
      <% if @menu.items.present? %>
          <tbody>
          <tr>
            <td colspan="6">
              <table class="table table-hover">
                <thead>
                <tr>
                  <td><b><i>Name</i></b></td>
                  <td><b><i>Description</i></b></td>
                  <td><b><i>Price</i></b></td>
                  <td></td>
                </tr>
                </thead>
                <% @menu.items.each do |item| %>
                    <tbody>
                    <tr>
                      <td><%= item.name %> &nbsp; &nbsp;</td>
                      <td><%= item.description %> &nbsp; &nbsp;</td>
                      <td><%= item.price %> &nbsp; &nbsp;</td>
                      <td><%= link_to 'Edit', edit_manager_menu_item_path(menu_id: @menu, id: item.id) if is_manager? %> &nbsp; &nbsp;</td>
                    </tr>
                    </tbody>
                <% end %>
              </table>
            </td>
          </tr>
      <% end %>
      </tbody>
  <% end %>
</table>


<% if @subcategories.present? %>
    <p>Items in current menu's subcategories</p>
    <table class="table">
      <tbody>
      <tr>
        <% @subcategories.each_slice(3) do |slice| %>
          <tr>
            <% slice.each do |o| %>
                <td>
                  <% if o.items.count>0 %>
                      <table class="table table-hover">
                        <thead>
                        <tr>
                          <td><i><b><%= o.name if o.items.count>0 %></b></i></td>
                          <td><i>price</i></td>
                          <td><i></i></td>
                        </tr>
                        </thead>
                        <tbody>
                        <% o.items.each do |i| %>
                            <tr>
                              <td>
                                <%= i.name %>
                              </td>
                              <td>
                                <%= i.price %>
                              </td>
                              <td>
                                <%= link_to 'Edit', edit_manager_menu_item_path(menu_id: i.menu_id, id: i.id) if is_manager? %>
                              </td>
                            </tr>
                        <% end %>
                        </tbody>
                      </table>
                  <% end %>
                </td>
            <% end %>
          </tr>
      <% end %>
      </tr>
      </tbody>
    </table>
<% end %>