<table class="table table-hover">
  <% if @menu %>
      <thead>
      <tr>
        <th>Date: &nbsp; <%= @menu.date %> &nbsp; &nbsp;
          <% if is_manager? %>
              <%= link_to 'Delete', manager_menu_path(id: @menu.id), method: :delete %>
          <% end %>
        </th>
      </tr>
      </thead>
      <% if @menu.items %>
          <tbody>
          <tr>
            <td>
              <table class="table table-hover">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Price</th>
                  <th><%= link_to 'Edit menu', edit_manager_menu_path(id: @menu.id) unless !is_manager?%> &nbsp; &nbsp;</th>
                </tr>
                </thead>
                <% @menu.items.each do |item| %>
                    <tbody>
                    <tr>
                      <td><%= item.name %> &nbsp; &nbsp;</td>
                      <td><%= item.description %> &nbsp; &nbsp;</td>
                      <td><%= item.price %> &nbsp; &nbsp;</td>
                      <td><%= link_to 'Edit', edit_manager_menu_item_path(menu_id:@menu, id: item.id) unless !is_manager?%> &nbsp; &nbsp;</td>
                    </tr>
                    </tbody>
                <% end %>
              </table>
            </td>
          </tr>
      <% end %>
      </tbody>
  <% end %>
</table>