<% if flash[:error] -%>
    <p class='error'><%= h flash[:error] %></p>
<% end -%>
<% if @menu %>
    <div class="row bg-table-header"><br/>

      <div class="col-sm-3">
        <% if @menu.name.present? %>Name: &nbsp;<%= @menu.name %>;&nbsp;
        <% end %>
        Date: &nbsp;<%= @menu.date %>
      </div>
      <% if is_manager? %>
          <div class="col-sm-1 ">
            <b><i><%= link_to edit_manager_menu_path(id: @menu.id), class: "btn btn-primary" do %>
                  <span class="glyphicon glyphicon-pencil"></span>
              <% end %></i></b>
          </div>
          <div class="col-sm-1 ">
            <i><%= link_to manager_menu_path(id: @menu.id), method: :delete, class: "btn btn-primary" do %>
                  <span class="glyphicon glyphicon-trash"></span>
              <% end %></i>
          </div>
          <div class="col-sm-1 col-sm-offset-1">
            <i><%= link_to new_manager_menu_item_path(menu_id: @menu), class: "btn btn-primary" do %>
                  <span class="glyphicon glyphicon-plus">Item</span>
              <% end %></i></div>
          <div class="col-sm-1 col-sm-offset-1">
            <i><%= link_to new_manager_category_path, class: "btn btn-primary" do %>
                  <span class="glyphicon glyphicon-plus">Category</span>
              <% end %></i></div>
          <div class="col-sm-1 col-sm-offset-1">
            <i><%= link_to new_manager_category_subcategory_path(category_id: 0), class: "btn btn-primary" do %>
                  <span class="glyphicon glyphicon-plus">Subcategory</span>
              <% end %></i>
          </div>
      <% end %>
    </div>
    <div class="row bg-table-header"><br/></div>
<% end %>

<% if @subcategories.present? %><br/>
    <br/>
    <table width="100%">
      <tr>
        <td>Items in current menu's subcategories:</td>
      </tr>
      <% @subcategories.each_slice(3) do |slice| %>
          <tr>
            <% slice.each do |o| %>
                <% if o.items.count>0 %>
                    <td style="padding-right: 2%;width: 33%;">
                      <table class="table ">
                        <thead class="bold italic text-center">
                        <tr>
                          <td class=" bg-table-header"><%= o.name %>
                          </td>
                        </tr>
                        </thead>
                        <tbody class="bg-table">
                        <% o.items.each do |i| %>
                            <tr>
                              <td><%= i.name %></td>
                            </tr>
                        <% end %>
                        </tbody>
                      </table>
                    </td>
                <% end %>
            <% end %>
          </tr>
      <% end %>
    </table>
<% end %>
<div class="row text-center">
  <%= link_to '<- Back', menus_path %>
</div>