<% if flash[:error] -%>
    <p class='error'><%= h flash[:error] %></p>
<% end -%>
<% if @menu %>
    <div class="row"><br/>

      <div class="col-sm-2">
        <% if @menu.name.present? %>Name: &nbsp;<%= @menu.name %>;&nbsp;
        <% end %>
        Date: &nbsp;<%= @menu.date %></div>
      <% if is_manager? %>
          <div class="col-sm-1 col-sm-offset-1">
            <b><i><%= link_to 'Edit menu', edit_manager_menu_path(id: @menu.id), class: "btn btn-primary" %></i></b>
          </div>
          <div class="col-sm-1 col-sm-offset-1">
            <i><%= link_to 'Add item', new_manager_menu_item_path(menu_id: @menu), class: "btn btn-primary" %></i></div>
          <div class="col-sm-1 col-sm-offset-1">
            <i><%= link_to 'Add category', new_manager_category_path, class: "btn btn-primary" %></i></div>
          <div class="col-sm-1 col-sm-offset-1">
            <i><%= link_to 'Add subcategory', new_manager_category_subcategory_path(category_id: 0), class: "btn btn-primary" %></i>
          </div>
          <div class="col-sm-1 col-sm-offset-1">
            <i><%= link_to 'Delete menu', manager_menu_path(id: @menu.id), method: :delete, class: "btn btn-primary" %></i>
          </div>
      <% end %>
    </div>
    <br/>
<% end %>

<% if @subcategories.present? %>
    <br/>
    <p>Items in current menu's subcategories:</p>
    <% @subcategories.each_slice(3) do |slice| %>
        <div class="row">
          <% slice.each do |o| %>
              <div class="col-sm-4">
                <div class="row">
                  <div class="col-sm-4 col-sm-offset-1"><i><b><%= o.name if o.items.count>0 %></b></i> &nbsp;&nbsp;
                  </div>
                  <div class="col-sm-4"><i>price</i> &nbsp;&nbsp;</div>
                  <div class="col-sm-2"></div>
                  <br/>
                </div>
                <% if o.items.count>0 %>
                    <div class="row background-white table-bordered">
                      <div class="col-lg-12">
                        <% o.items.each do |i| %>
                            <div class="row hover-div"><br/>

                              <div class="col-sm-4 col-sm-offset-1"><%= i.name %></div>
                              <div class="col-sm-4"><%= i.price %></div>
                              <div class="col-sm-2"> <%= link_to 'Edit', edit_manager_menu_item_path(menu_id: i.menu_id, id: i.id) if is_manager? %></div>
                            </div>
                        <% end %>
                <% end %>
                </div> </div>

              </div>
          <% end %>
        </div>
    <% end %>
<% end %>