<div class="row text-center">
  <br/><br/>

  <div class="col-sm-2">
    <i><b>Name</b></i>
  </div>
  <div class="col-sm-2 col-sm-offset-1">
    <i><b>Email</b></i>
  </div>
  <div class="col-sm-2 col-sm-offset-1">
    <i><b>Telephone</b></i>
  </div>
  <div class="col-sm-3 col-sm-offset-1">
    <i><b>Options</b></i>
  </div>
  <br/><br/>
</div>
<% if @users %>
    <div class="row background-white">

      <div class="col-sm-12">
        <% @users.each do |u| %>
            <div class="row text-center hover-div">
              <br/>
              <div class="col-sm-2 ">
                <%= u.name %>
              </div>
              <div class="col-sm-2 col-sm-offset-1 ">
                <%= u.email %>
              </div>
              <div class="col-sm-2 col-sm-offset-1">
                <%= u.telephone %>
              </div>
              <div class="col-sm-3 col-sm-offset-1">
                <%= link_to 'Show', user_path(id: u.id) %>&nbsp;&nbsp;
                <%= link_to 'Edit', edit_user_path(id: u.id) %>&nbsp;&nbsp;
                <%= link_to 'Delete', manager_user_path(id: u.id), method: :delete %>
              </div>
            </div>
        <% end %>
      </div>
    </div>
<% end %>