<table class="table table-hover">
  <tbody>
  <tr style="border-top: hidden">
    <td align="center"><%= link_to 'Daily report', manager_reports_daily_path, :title => 'per day' %></td>
    <td align="center"><%= link_to 'Items statistics', manager_reports_items_path, :title => 'per items' %></td>
    <td align="center"><%= link_to 'Tables statistics', manager_reports_tables_path, :title => 'per tables' %></td>
    <td align="center"><%= link_to 'Category statistics', manager_reports_categories_path, :title => 'per category' %></td>
  </tr>
  </tbody>
</table>

<% if @per_items %>
    <div>
      <b><u>Per items:</u></b><br/>
      <% @per_items.each do |report| %>
          <%= report.item.name%>
          <%= report.item_count%>
          <br/>
      <% end %>
      <br/>
    </div>
<% end %>

<% if @per_table %>
    <div>
      <b><u>Per tables:</u></b><br/>
      <% @per_table.each do |report| %>
          Table:<%= report.table.number %>,
          <%= report.item.name %>
          <br/>
      <% end %>
      <b>Number of items per table:</b>
      <br/>
      <% @item_per_table.each do |report| %>
          Table:<%= report.table.number %> /
          <%= report.table_count %> item(s)
          <br/>
      <% end %>
      <hr/>
    </div>
<% end %>


<% if @per_category %>
    <div>
      <b><u>Categories per table:</u></b>
      <br/>
      <% @per_category.each do |t| %>
          Table:<%= t.table.number %> / Category:<%=t.category.name%> ->
          <%= t.category_count %> item(s)
          <br/>
      <% end %>
    </div>
<% end %>