<table>
  <% if @table %>
  <tr>
    <td><% if @table.payment %>
          <%=  image_tag('table.png', size: "120") %>
      <%else%>
          <%= image_tag('table-red.png', size: "120") %>
      <%end%>
      &nbsp; &nbsp;</td>
    <td>
      <table>
          <tr><td>
            Number:<%= @table.number %> &nbsp; &nbsp;
          </td></tr>
          <tr><td>
            Sum:<%= @table.sum %>
          </td></tr>
          <tr><td>
            Payment:<%= @table.payment %> &nbsp; &nbsp;
          </td></tr>
      </table>
      </td>
    <% if is_manager? %>
        <td>
          <%= link_to 'DELETE TABLE', table_path(id: @table), method: :delete %>
        </td>
    <% else %>
        <td>
          <b><%= link_to 'PAY', table_path(id: @table), method: :patch %></b>
        </td>
    <% end %>

  <% end %>
</table>
<br/>
<% if !is_manager? %>
    <b><%= link_to 'ORDER', new_table_order_path(table_id: @table)%></b>
<% end %>
<hr/>
<% if @table.orders %>
    <% @table.orders.each do |o| %>
        <i><%= o.user.name %></i>
        <br/>
        <% o.order_menu_items.each do |p| %>
            *<%= p.item.name %> <%= p.quantity %>
            <%= link_to 'pay', table_order_order_menu_item_path(id: p.id, table_id:@table.id, order_id:o.id), method: :delete%>
            <br/>
        <%end%>
        <br/>
    <%end%>
<%end%>
