<% if @table %>
    <div class="row">
      <br/><br/>
      <% if @table.payment %>
          <div class="col-sm-3 text-center pagination-centered background-white">
            <%= image_tag('table.png', width: '100%') %>
          </div>
      <% else %>
          <div class="col-sm-3 text-center pagination-centered">
            <%= image_tag('table-red.png', width: '100%') %>
          </div>
      <% end %>
      <div class="col-sm-6 text-center pagination-centered">
        <div class="row">
          <div class="col-sm-12 pagination-centered">Number:<%= @table.number %></div>
          <br/><br/>
        </div>
        <div class="row">
          <div class="col-sm-12 pagination-centered">Sum:<%= @table.sum %></div>
          <br/><br/>
        </div>
        <div class="row">
          <div class="col-sm-12 pagination-centered">Payment:<%= @table.payment %></div>
          <br/><br/><br/><br/><br/><br/>
        </div>
        <div class="row">
          <div class="col-sm-12 text-center pagination-centered ">
            <% if is_manager? %>
                <%= link_to 'DELETE TABLE', table_path(id: @table), method: :delete, class: "btn btn-lg btn-primary" %>
            <% else %>
                <b><%= link_to 'PAY', table_path(id: @table), method: :patch, class: "btn btn-lg btn-primary" %></b>
            <% end %>
          </div>
        </div>
      </div>
    </div>
<% end %>
<br/>
<b><%= link_to 'ORDER', new_table_order_path(table_id: @table), class: "btn  btn-primary" unless is_manager? %></b>
<br/>
<br/>
<% if @table.orders %>
    <% @table.orders.each_slice(3) do |slice| %>
        <div class="row ">
          <% slice.each do |u| %>
              <div class="col-sm-3 bg-table-header">
                <div class="row"><i><%= u.user.name %></i><br/></div>
                <br/>

                <div class="row">
                  <div class="col-sm-12 bg-table">
                    <% u.order_menu_items.each do |p| %>
                        <div class="row hover-div"><br/>

                          <div class="col-sm-6"> <%= p.quantity %> <%= p.item.name %></div>
                          <div class="col-sm-4 col-sm-offset-2">
                            <% if !is_manager? %>
                                <i><%= link_to table_order_order_menu_item_path(id: p.id, table_id: @table.id, order_id: u.id, delete: true), method: :delete do %>
                                      <span class="glyphicon glyphicon-trash"></span>
                                  <% end %></i>
                                &nbsp;&nbsp;&nbsp;
                                <%= link_to table_order_order_menu_item_path(id: p.id, table_id: @table.id, order_id: u.id, delete: false), method: :delete do %>
                                    <span class="glyphicon glyphicon-euro"></span>
                                <% end %>
                            <% end %>
                          </div>
                        </div>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="col-sm-1"> &nbsp;</div>
          <% end %>
        </div>

        <br/>
        <br/>
    <% end %>
<% end %>
