<h1>Editing item</h1>
<%= form_for :item, url: manager_menu_item_path(menu_id:@item.menu_id, id: @item.id), method: :patch do |f| %>  
    <% if @item.errors.any? %>   
        <div id="error_explanation">
                <h2>
                  <%= pluralize(@item.errors.count, "error") %> prohibited
                  this item from being saved:
                </h2>
          <ul>        
            <% @item.errors.full_messages.each do |msg| %>          
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <p>
      <%= f.label :subcategory %><br>
      <%= f.select :subcategory, Subcategory.all.collect {|u| [u.name, u.id]}, { include_blank: false } %>
    </p>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
        </p>
    <p>
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </p>
    <p>
      <%= f.label :price %><br>
      <%= f.text_field :price, type: 'number' %>
    </p>
    <p>
      <%= f.submit %>
    </p>
     
<% end %>
<%= link_to '<- Back to edit menu', edit_manager_menu_path(id: @item.menu_id) %>