<div class="row well">
  <div class="col-sm-4 col-sm-offset-4">

    <div class="alert alert-error" role="alert">
      <% if @item.errors.any? %>   
          <div id="error_explanation">
                  <h2>
                    <%= pluralize(@item.errors.count, "error") %> prohibited
                    this item from being saved:
                  </h2>
            <ul>        
              <% @item.errors.full_messages.each do |msg| %>          
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
    </div>


    <%= form_for [:manager, @item], html: {class: 'form'}, url: manager_menu_items_path(menu_id: @item.menu_id) do |f| %>  
        <div class="form-group">
          <%= f.label :subcategory %><br>
          <%= f.select :subcategory, @subcategories.collect { |u| [u.name, u.id] }, {required: true}, {class: 'form-control'} %>
        </div>
        <div class="form-group">
          <%= f.label :name %><br>
          <%= f.text_field :name, required: true, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :description %><br>
          <%= f.text_area :description, required: true, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :price %><br>
          <%= f.text_field :price, type: 'number', required: true, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :image %>
          <%= f.file_field :image, type: 'file' %>
        </div>

        <div class="form-group">
          <%= f.submit class: "btn btn-primary form-control" %>
        </div>
    <% end %>

  </div>
</div>

 
<%= link_to 'Back', edit_manager_menu_path(id: @item.menu_id) %>