
<%= form_for :category, url: manager_category_path(id: @category.id), method: :patch do |f| %>  
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.submit  class: "btn btn-lg btn-primary"%>
    </p>
     
<% end %>
<%= link_to '<- Back to edit menu', manager_category_path(id: @category) %>