
<%= form_for [:manager, @category] do |f| %>  
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.submit  class: "btn btn-primary"%>
    </p>
     
<% end %>
 
<%= link_to 'Back', manager_index_path %>