<% if @category %>
    <div class="row"><br/>

      <div class="col-sm-3">
        <b>Name:</b>&nbsp;<%= @category.name %>
      </div>
      <div class="col-sm-3">
        <%= link_to 'Edit', edit_manager_category_path(id: @category.id), class: "btn btn-primary" %>
      </div>
      <div class="col-sm-3">
        <%= link_to 'Delete', manager_category_path(id: @category.id), method: :delete, class: "btn btn-primary" %>
      </div>
      <div class="col-sm-3">
        <%= link_to 'New subcategory', new_manager_category_subcategory_path(category_id: @category), class: "btn btn-primary" %>
      </div>
    </div>
    <% if @category.subcategories.present? %>
        <div class="row">
          <br/><br/>
          <b><i>Subcategories:</i></b><br/><br/><br/>
        </div>
        <% @category.subcategories.each do |u| %>
            <div class="row">
              <div class="col-sm-2 background-white">*<%= u.name %></div>
              <div class="col-sm-2 col-sm-offset-2"><%= link_to 'Edit', edit_manager_category_subcategory_path(id: u.id, category_id: @category), class: "btn btn-primary" %></div>
              <div class="col-sm-4"><%= link_to 'Delete', manager_category_subcategory_path(id: u.id, category_id: @category), method: :delete, class: "btn btn-primary" %></div>
            </div>
            <hr/>
        <% end %>
    <% end %>

<% end %>
<br/>
<%= link_to '<- Back', menus_path %>