<% if @category %>
    <table class="table table-hover">
      <tr style="border-bottom: hidden">
        <th>Name:&nbsp;<%= @category.name %>
        </th>
        <th>
          <%= link_to 'Edit', edit_manager_category_path(id: @category.id) %>
        </th>
        <th>
          <%= link_to 'Delete', manager_category_path(id: @category.id), method: :delete %>
        </th>
      </tr>
      <% if @category.subcategories %>
          <tr>
            <td colspan="2" align="center"><i>Subcategories:</i> &nbsp;&nbsp;<%= link_to 'New', new_manager_category_subcategory_path(category_id: @category) %></td>
            <td></td>
          </tr>
          <% @category.subcategories.each do |u|%>
              <tr>
                <td>*<%= u.name %></td>
                <td>
                  <%= link_to 'Edit', edit_manager_category_subcategory_path(id: u.id, category_id:@category) %>
                </td>
                <td>
                  <%= link_to 'Delete', manager_category_subcategory_path(id: u.id, category_id: @category), method: :delete %>
                </td>
              </tr>
          <% end %>
      <%end%>
    </table>

<% end %>
<br/>
<%= link_to '<- Back', menus_path %>