<% if @category %>
    <table class="table table-hover">
      <tr style="border-bottom: hidden;border-top: hidden">
        <td><b>Name:</b>&nbsp;<%= @category.name %></td>
        <td >
          <%= link_to 'Edit', edit_manager_category_path(id: @category.id) %>&nbsp;&nbsp;
          <%= link_to 'Delete', manager_category_path(id: @category.id), method: :delete, class: "btn btn-primary" %>
        </td>
      </tr>
    </table>
    <br/>
    <table class="table table-hover">
      <% if @category.subcategories %>
          <tr style="border-top: hidden">
            <th>
              <b><i>Subcategories:</i></b> &nbsp;&nbsp;<%= link_to 'New', new_manager_category_subcategory_path(category_id: @category) %>
            </th>
            <th></th>
          </tr>
          <% @category.subcategories.each do |u| %>
              <tr>
                <td >*<%= u.name %></td>
                <td style="text-align: left">
                  <%= link_to 'Edit', edit_manager_category_subcategory_path(id: u.id, category_id: @category) %>
                  &nbsp;&nbsp;
                  <%= link_to 'Delete', manager_category_subcategory_path(id: u.id, category_id: @category), method: :delete, class: "btn btn-primary" %>
                </td>
              </tr>
          <% end %>
      <% end %>
    </table>

<% end %>
<br/>
<%= link_to '<- Back', menus_path %>